# Para todos os arquivos e sub-pastas localizados na pasta vendor/
obj/
# Para arquivos Java compilados
*.class
# Para código C
*.bak
*.vsscc
*.packages.config
*.Web.config
*.Web.Debug.config
*.Web.Release.config
